.category-more {
    color: var(--tg-heading-font-color);
    font-weight: 600;
    border: none;
    background-color: white;
    font-size: 16px;
    position: relative;
    /* Ensure the button stays in the flow */
}



/* Single Post style start */

.artical {
    /* border-bottom: 1px solid #0065b243; */
    /* border-bottom: 1px solid rgb(228, 228, 228); */
    /* border: 2px solid red; */
    overflow: hidden;
    /* Prevents overflow */
}

.tag {
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.727);
    /* background-color:white; */
    /* border-radius: 2px; */
    position: absolute;
    padding: 5px 10px;
    color:white;
    top: 10px;
    left: 10px;
}

.artical-image {
    position: relative;
}

.artical-card {
    padding: 0;
}

/* sub menus */
.smallCard {
    /* border:2px solid #F45B31; */
    background-color: #183354;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    /* position: relative; */
}

/* .menu-img {
    width: 100%;
    height: 100%;
} */

.subcat_title {
    font-size: 18px;
    /* color:#F45B31; */
    color: white;
    margin: 0;
    white-space: nowrap;
}

.smallCard:hover {
    border-radius: 0px;
    cursor: pointer;
}

.subCategory-card {
    padding: 10px 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    /* border:2px solid red; */
}

/* .smallCard:hover .subcat_title {
    color: black;
    color:white;
    cursor: pointer;
    border-radius:0px;
} */



.subcatStyle {
    /* position: absolute; */
    width: 10px; 
    height: 10px;
    background-color: orange;
    transform: rotate(-45deg); 
    top: 10px; 
    left: 10px; 
}



/* small card -2 */

/* smallCard-2 */


.smallCard-2 {
    /* border:2px solid #F45B31; */
    /* text-decoration: underline; */
    text-decoration-color: #183354;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    border:2px solid green;
    /* position: relative; */
}

.smallCard-2:hover {
    border-radius: 0px;
    cursor: pointer;
    background-color: #183354;
}

.smallCard-2:hover .subcat_title-2{
    border-radius: 0px;
    cursor: pointer;
    color:white;
    text-decoration: underline;
    /* background-color: ; */
}

.subCategory-card-2 {
    padding: 10px 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    /* border:2px solid red; */
}





.subcat_title-2 {
    font-size: 18px;
    /* color:#F45B31; */
    color: #183354;
    margin: 0;
    white-space: nowrap;
    border:2px solid red;
}







.post-title-2 {
    font-size: 12px;
    color: #333333;
    font-weight: 500;
    border: 2px solid black;
    /* line-height: 1; Set this to a smaller value to reduce height */
    margin: 0; /* Ensure there's no extra margin affecting the height */
    padding: 0; /* Ensure there's no padding affecting the height */
}

