*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
html,body{
    width:100%;
}

:root{
    --tg-heading-font-color: #183354;
    --tg-heading-font-family: 'Manrope', sans-serif;
    --tg-primary-color: #f4796c;
}